# This file is Free Software under the CC0-1.0
# without warranty, see README.md and LICENSES/CC0-1.0.txt for details.

# SPDX-License-Identifier: CC0-1.0

# SPDX-FileCopyrightText: 2023 German Federal Office for Information Security (BSI) <https://www.bsi.bund.de>
# Software-Engineering: 2023 Intevation GmbH <https://intevation.de>

engine-strict=true
resolution-mode=highest
